* {
  box-sizing: border-box;
  --blue: #008cba;
  --tan: #e6e2d3;
  --off-white: #f0f0f0;
  --green: #4caf50;
  --red: #c94c4c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding-bottom: 5vh;
}

.todos-container {
  padding: 30px;
  min-width: 90vw;
  min-height: 80vh;
  border-radius: 10px;
  background-color: var(--off-white);
  border: 5px solid var(--tan);
}

.todo {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 0;
  background-color: var(--tan);
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  height: 100px;
}

.todo__title, .todo__edit-input {
  margin-right: auto;
  font-size: 25px;
}

.todo__edit-button, .todo__delete-button, .todo-form__button, .todo__edit-button--submit {
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: var(--off-white);
}

.todo__edit-button, .todo__edit-button--submit {
  background-color: var(--blue);
  margin-right: 10px;
  width: 60px;
  height: 50px;
  padding-top: 5px;
}

.todo__delete-button {
  background-color: var(--red);
  width: 60px;
  height: 50px;
  padding-top: 5px;
}

.todo-form__button {
  background-color: var(--blue);
  margin-left: 10px;
  font-weight: 500;
  font-size: 25px;
  width: 100px;
  height: 50px;
}

.todo-form__input {
  font-size: 25px;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid var(--tan);
}

form {
  display: flex;
  justify-content: center;
}

.todo__title--true {
  text-decoration: line-through;
  color: grey;
}

.todo__empty {
  font-size: 35px;
  text-align: center;
  color: grey;
}

.edit-icon, .delete-icon {
  height: 35px;
  width: 35px;
  fill: var(--off-white);
  stroke: none;
  pointer-events: none;
}

.input-warning--visible {
  visibility: visible;
  font-size: 20px;
  margin: 10px 0 10px 0;
  height: 25px;
}

.input-warning--hidden {
  visibility: hidden;
  text-align: center;
  margin: 10px 0 10px 0;
  height: 25px;
}